 <div class="container">



  <div class="card transition"><p><i><br><br> &nbsp;&nbsp;&nbsp;&nbsp;Please, donate your old clothes to orphanages or old age homes,
    or randomly you can find clothes donation drives near you. We can provide for them, we can make their smiles less painful. Don’t dump, donate old clothes.
    There are so many old people around us whose future can be made by giving your small donation of old clothes.

       Join Donation Campaign in Delivering Happiness, today.</i></p>
      <h2 class="transition"><h3 class="title" style="color: rgb(51, 28, 28);">clothes Donation</h3><br>
          <img src="../../../assets/clothesnew.jpg" style="width: 40rem;"><br><small>Take a bite out of hunger.</small></h2>
      <div class="cta-container transition" ><a  class="cta"  routerLink="/signup" routerLinkActive="active">Donate</a></div>
      <div class="card_circle transition"></div>
    </div>
    
    
  
  
  
  </div> 

















