<div class="container">



  <div class="card transition"><p><i><br><br> &nbsp;&nbsp;&nbsp;&nbsp;Donation Campaign is 100% transparent
       online donation platform for charities, where people can directly donate products needed instead of money.
        Our vision is to bring more transparency to online crowdfunding so that we provide an opportunity for
         every Indian to give back to society confidently. 
       Join Donation Campaign in Delivering Happiness, today.</i></p>
      <h2 class="transition"><h3 class="title" style="color: rgb(51, 28, 28);">Random Donation</h3><br>
          <img src="../../assets/randomnew.jpg" style="width: 40rem;"><br><small>Take a bite out of hunger.</small></h2>
      <div class="cta-container transition" ><a  class="cta"  routerLink="/rd" routerLinkActive="active">Donate</a></div>
      <div class="card_circle transition"></div>
    </div>
    
    
  
  
  
  </div>