<p>widgets works!</p>









<div class="container">
    <div class="row">
        <div class="col-sm">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>Total Donor Registration Registrations</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <a routerLink='/showDonor' class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
            
          </div>

            <div class="col-sm">
                 <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                  <h3>44</h3>
  
                  <p>Total Ngo Registrations</p>
                </div>
                <div class="icon">
                  <i class="fas fa-user-plus"></i>
                </div>
                <a routerLink='/showNGO' class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
                </div>

                //

                
            <div class="col-sm">
                <!-- small card -->
           <div class="small-box bg-primary">
               <div class="inner">
                 <h3>44</h3>
 
                 <p>Total User Registrations</p>
               </div>
               <div class="icon">
                 <i class="fas fa-user-plus"></i>
               </div>
               <a routerLink='/showUser' class="small-box-footer">
                 More info <i class="fas fa-arrow-circle-right"></i>
               </a>
             </div>

               </div>
    </div>
</div>
  

<div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="info-box bg-gradient-warning ">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
        
            <div class="info-box-content">
              <span class="info-box-text">Events</span>
              <span class="info-box-number">41,410</span>
        
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->    
          </div>
        One of three columns
      </div>


      <div class="col-sm">
        <div class="info-box bg-gradient-success ">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
        
            <div class="info-box-content">
              <span class="info-box-text">Events</span>
              <span class="info-box-number">41,410</span>
        
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->    
          </div>
        two of three columns
      </div>
      <div class="col-sm">
        <div class="info-box bg-gradient-primary ">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
        
            <div class="info-box-content">
              <span class="info-box-text">Events</span>
              <span class="info-box-number">41,410</span>
        
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->    
          </div>
        three of three columns
      </div>
    </div>
  </div>

  


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>