<div class="container">



  <div class="card transition"><p><i><br><br> &nbsp;&nbsp;&nbsp;&nbsp;The pandemic has been a difficult 
    time for everyone. It also took a huge toll on those people who strive every day to make a change
     in society. We struggled to continue this work during the pandemic. Even though it was tough,
      we did everything we could to help them eat. 


       Join Donation Campaign in Delivering Happiness, today.</i></p>
      <h2 class="transition"><h3 class="title" style="color: rgb(51, 28, 28);">Food Donation</h3><br>
          <img src="../../../assets/newfood.jpg" style="width: 40rem;"><br><small>Take a bite out of hunger.</small></h2>
      <div class="cta-container transition" ><a  class="cta"  routerLink="/signup" routerLinkActive="active">Donate</a></div>
      <div class="card_circle transition"></div>
    </div>
    
    
  
  
  
  </div>