<div class='jumbotron'>
    <h2>Welcome to Admin Panel</h2>
    <br><br><br>
    <div style="text-align: center;">
    <button class="btn btn-primary" [routerLink]="['']">Home</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" [routerLink]="['/showDonor']">Show Donors</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" [routerLink]="['/showNGO']">Show NGOs</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" [routerLink]="['/showUser']">Show Users</button>
    </div>
    <br><br>
</div>
